@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap');

.blue-box{
  background-color: blue;
  width: 350px;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  font-size: 30px;
  color: white;
}

#virus-link{
  position: fixed;
  top: 200px;
  left: 500px;
}

#email-box {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 600px;
  width: 800px;
}

#title{
  text-align: center;
  background-color: greenyellow;
  margin: 0 auto;
  margin-bottom: 20px;
  color: rgb(212, 106, 106);
  border: 2px solid black;
  width: 700px;
  animation-name: title-rgb;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes title-rgb{
  0%{
    background-color: red;
  }
  25%{
    background-color: green;
  }
  50%{
    background-color: blue;
  }
  75%{
    background-color: yellow;
  }
  100%{
    background-color: indigo;
  }
}


.fade-away{
    visibility: hidden;
    transition: visibility 0s 7s, opacity 7s linear;
    animation-name: fade-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% { 
        opacity: 1;
    }
    25% { 
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% { 
        opacity: 0;
        position: fixed;
        left: 10000px; 
    }
}

#warning-message{
  color: black;

  font-family: Ubuntu;
  font-size: 50px;

  display: block;
  margin: 0 auto;
  text-align: center;

  position: relative;
  top: 0px;
  left: 18px;;
}

.appear-main-page{
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes appear{
  0%{
    visibility: hidden;
  }
  90%{
    visibility: hidden;
  }
  100%{
    visibility: visible;
  }
}



