.blue-box{
  background-color: blue;
  width: 350px;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  font-size: 30px;
  color: white;
}

#virus-link{
  position: fixed;
  top: 200px;
  left: 500px;
}

#email-box {
  display: block;
  margin: 0 auto;
  height: 600px;
  width: 600px;
}

#title{
  text-align: center;
  background-color: greenyellow;
  margin: 0 auto;
  margin-bottom: 20px;
  color: rgb(212, 106, 106);
  border: 2px solid black;
  width: 700px;
  animation-name: title-rgb;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes title-rgb{
  0%{
    background-color: red;
  }
  25%{
    background-color: green;
  }
  50%{
    background-color: blue;
  }
  75%{
    background-color: yellow;
  }
  100%{
    background-color: indigo;
  }
}



