.blue-box{
  background-color: blue;
  width: 350px;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  font-size: 30px;
  color: white;
}

#virus-link{
  position: fixed;
  top: 200px;
  left: 500px;
}

#email-box {
  display: block;
  margin: 0 auto;
  height: 600px;
  width: 600px;
}

#title{
  text-align: center;
  background-color: greenyellow;
  margin: 0 auto;
  margin-bottom: 20px;
  color: rgb(212, 106, 106);
  border: 2px solid black;
  width: 700px;
  animation-name: title-rgb;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes title-rgb{
  0%{
    background-color: red;
  }
  25%{
    background-color: green;
  }
  50%{
    background-color: blue;
  }
  75%{
    background-color: yellow;
  }
  100%{
    background-color: indigo;
  }
}


@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap');

#login-box{
    border-width: 1px;
    border-color: lightgray;
    border-radius: 8px;
    border-style: solid;

    display: block;
    margin: auto;

    background-color: white;
    padding: 20px;
    width: 600px;
    height: 300px;
}

#pay-pal-logo{
    width: 300px;
    display: block;
    margin: auto;
}

.innerbox{
    height: 15%;
    margin-top: 1%;
    margin-bottom: 3%;
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: 2%;

    border-style: solid;
    border-color: darkgray;
    border-radius: 10px;
    border-width: 2px;

    font-family: Ubuntu;
    font-size: 160%;
    color: rgb(148, 142, 142);
}

#button-login-box{
    border-style: solid;
    border-color: #26428b;
    border-radius: 10px;
    border-width: 2px;

    background-color: #26428b;

    color: white;

    text-align: center;
}

.shift-away{
    position: fixed;
    left: 400px;
    animation-name: shifting;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes shifting{
    50%{
        left: 1700px;
    }
    100%{
        left: 3500px;
        visibility: hidden;
    }
}

.fade-away{
    visibility: hidden;
    transition: visibility 0s 2s, opacity 2s linear;
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% { 
        opacity: 1;
    }
    99% { 
        opacity: 0.01;
    }
    100% { 
        opacity: 0;
    }
}



