
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap');

.email {
    vertical-align: top;
    text-align:left;
    padding-left:10px;
    font-size: .75rem;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    display: inline;
}

#email-body {
    font-size: small;
    font-family: Nunito;
    letter-spacing: .3px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 45px;
    width: 700px;
}

#profile {
    border-radius: 50%;
}

.email-box {
    padding: 5px;
}

#to-me{
    color:#555;;
    font-size: .75rem;
    vertical-align: bottom;
}

#counter{
    color: rgb(55, 238, 55);
    background-color: white;
    font-family: oboto, 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.turn-green{
    color: green !important;
}

.turn-red{
    color: red;
}

input {
    width: 400px;
    min-height: 44px;
    padding-top: 20x;
    border: 0;
    margin: 0 auto;
    display: block;
    background-color: #0070ba;

    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;

    color: #fff;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a#scam {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 25px;
    border: none;

    margin: 0 16px 0 0!important;
    padding: 0 16px 0 16px;
  }
