.email {
    vertical-align: top;
    text-align:left;
    padding-left:20px;
}
  
.email-body {
    padding-top: 10px;
    padding-left: 40px;
}

#profile {
    border-radius: 50%;
}

.email-box {
    padding: 5px;
}